@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* ===============================
 * Colors
=============================== */

$green-color: #62cb31;
$blue-color: #34495e;
$light-blue-color: #3498db;
$yellow-color: #ffb606;
$red-color: #c0392b;

$white-color: #f1f3f6;




/* ===============================
 * Fonts
=============================== */